{% extends "base.html" %}

 {% block content %}
    <div class="row">

        <div class="col-md-3">
            <p class="lead">DigiTop</p>
            <div class="list-group">
                {% for category in categories %}
                <a href="{{ category.get_absolute_url }}" class="list-group-item">{{ category.name }} </a>
                {% endfor %}

            </div>
            <br>
            <h4>Фильтрация:</h4>
           <form action="" method="get">
                {{ form.as_p }}
                <input type="submit" value="Поиск" class="btn btn-success">
            </form>
        </div>

        <div class="col-md-9">
            <br>
            <div class="row">
                {% for product in products %}
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail" style='height: 410px; position: relative;'>
                            <img src="{{ product.image.url }}" alt="" style='width:90%; height: 70%;'>
                            <div class="caption">
                                <h5 class='text-center'><strong><a href="{{ product.get_absolute_url }}">
                                    {{ product.title }}</a></strong>
                                </h5>
                                <h4 class='text-center'>{{ product.price }} грн</h4>
                                <div style='position: absolute; bottom: 0; right:40px;'>
								{% if request.user.is_authenticated %}<p class='text-right'>
                                    <a href='#' class='add_to_cart' data-slug='{{ product.slug }}'>
                                        <button class='btn btn-primary'>Добавить в корзину</button>
                                    </a></p>
                                    {% endif %}
								</div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

            </div>

        </div>

    </div>
    {% endblock content %}

<script>
$(document).ready(function(){
	$(".add_to_cart").on("click", function(e){
		e.preventDefault()
		product_slug = $(this).attr("data-slug")
		data = {
			product_slug: product_slug
		}
		$.ajax({
			type: "GET",
			url: "{% url 'add_to_cart' %}",
			data: data,
			success: function(data){
				$("#cart_count").html(data.cart_total)
			}
		})
	})
    $('#id_form').css("width", "120px")
})
</script>